body {
  margin: 0;
  padding: 0;
  background: #e9e3e3;
}
html {
  font-size: 62.5%;
}

/*loader*/

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 400px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

nav {
  display: flex;

  align-items: center;
  margin-bottom: 3rem;

  justify-content: space-between;
  padding: 0.6rem 0.5rem;
  background-image: linear-gradient(
    to right,
    #38025c,
    #4b0479,
    #5f0797,
    #730ab6,
    #880fd6
  );
  color: #fff;
  /* font-size: 2rem; */
  font-size: 1.6rem;
  font-family: cursive;
  text-transform: capitalize;
  font-weight: 400;

  /* width: calc(100%- 2rem); */
}

.instruction {
  text-align: center;
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1.7rem;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-weight: 600;
  color: #442957;
}

.errorText {
  text-align: center;
  margin: 1rem 0;
  padding: 0.7rem;
  font-size: 1.7rem;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-weight: 600;
  color: #ad0606;
}

.logo-image {
  max-width: 3rem;
  margin-right: 1rem;
}
.logo-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-text {
  font-family: cursive;
  text-transform: capitalize;
  font-weight: 400;
  word-spacing: 0.5rem;
  font-size: 1.7rem;
}
.github {
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
  color: #fff;
  font-size: 1.7rem;
  font-family: "Lucida Sans";
  text-transform: capitalize;
  font-weight: 400;
  word-spacing: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

/* MAIN  COMPONENT*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* margin: 0 1rem; */
}
.input {
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1.3px solid #5f0797;
  border-radius: 1rem;
  background: #ccc6c6d7;
}
.form-text {
  border-radius: 0.5rem;
  border: 1px solid #d5d4d8;
  text-indent: 0.5rem;
}

.centerBtn {
  text-align: center;
}
.btn {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  width: 20rem;
  background-image: linear-gradient(
    to right,
    #38025c,
    #4b0479,
    #5f0797,
    #730ab6,
    #880fd6
  );
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-create {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  width: 250px;
  background-image: linear-gradient(
    to right,
    #38025c,
    #4b0479,
    #5f0797,
    #730ab6,
    #880fd6
  );
  color: #fff;
  border: none;
  cursor: pointer;
}

figure {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meme-image {
  width: 270px;
  height: 270px;
}

.meme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
}

.editMeme {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 50%);
}

.generatedBtn {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media screen and (min-width: 350px) {
  .btn {
    margin: 1rem 1rem;
  }
}

@media screen and (min-width: 550px) {
  nav {
    display: flex;

    align-items: center;
    margin-bottom: 1rem;

    justify-content: space-between;
    padding: 0.6rem 0.5rem;
    background-image: linear-gradient(
      to right,
      #38025c,
      #4b0479,
      #5f0797,
      #730ab6,
      #880fd6
    );
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    text-transform: capitalize;
    font-weight: 400;
  }
  .btn-create {
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    width: 200px;
    background-image: linear-gradient(
      to right,
      #38025c,
      #4b0479,
      #5f0797,
      #730ab6,
      #880fd6
    );
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .meme-image {
    width: 220px;
    height: 220px;
  }
  .meme {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(50, 1fr);
    gap: 3rem;
  }
  .generatedBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 685px) {
  nav {
    padding: 1rem;
    font-size: 2rem;
  }
  .logo-image {
    max-width: 4.5rem;
  }
  .logo-text {
    font-size: 2rem;
  }
  .github {
    margin-right: 1rem;
    font-size: 2rem;
  }

  .input {
    padding: 1.8rem;
  }
  .meme-image {
    width: 250px;
    height: 250px;
  }

  .editMeme {
    width: calc(100vw - 60%);
    max-height: 400px;
  }
}

@media screen and (min-width: 900px) {
  .meme {
    display: grid;
    grid-template-columns: repeat(3, 270px);

    grid-template-rows: repeat(33, 1fr);
    gap: 3rem;
  }
  .meme-image {
    width: 270px;
    height: 270px;
  }
  .editMeme {
    width: calc(100vw - 65%);
    max-height: 400px;
  }
}

@media screen and (min-width: 940px) {
  .meme {
    grid-template-columns: repeat(3, 280px);
  }
  .meme-image {
    width: 280px;
    height: 280px;
  }
}

@media screen and (min-width: 1140px) {
  .meme {
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(25, 1fr);
  }
  .editMeme {
    width: calc(100vw - 75%);
    max-height: 350px;
  }
}

/*dropzone*/
